<h1>Welcome to your digital phonebook</h1>

<h2>Add new contact</h2>
<form id="contact" action="contact_add" method="post">
  <input id="name" type="text" name="name" class="form-control" placeholder="Contact name">
  <input id="primary_number" type="text" name="primary_number" class="form-control" placeholder="Primary number">
  <input id="info" type="text" name="info" class="form-control" placeholder="Contact notes">
  <button type="submit" name="button" class="btn btn-primary">Save contact</button>
</form>

<form id="clear_contacts" action="clear_contacts" method="post">
  <button type="submit" name="button" class="btn btn-danger">Clear contact list</button>
</form>
<h2>Contact list:</h2>

<ul>
  <% @list.each() do |contact| %>
  <li><a href="contact/"> <%= contact.name() %></a></li>
  <% end %>
</ul>
